/*colores*/
:root{
  --black: #000000;/*color de los botones*/
  --second:#f7f7f7;
  --white:#FFFFFF;
  --grey:#999999;/*color de fondo del body*/
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;/*Tipografia */
  font-weight:300;/**/
  background-color:var(--second);/**/
  box-sizing: border-box;
  display: flex;  /* Establecer la visualización en flexbox para alinear los elementos en fila */
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal si es necesario */
  overflow-y: auto; /* Muestra la barra de desplazamiento vertical si es necesario */
}




/*-------------------------------------MENU--------------------------------------*/
.bg-primary{
  background-color: var(--white)!important;/*asignasión del color para el fondo del menu*/
}
#sidebar-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16rem; /* Ancho del menú, ajusta según tus necesidades */
  min-height:100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
#sidebar-container .logo{
  padding: .875rem 1.25rem;
}

/*Asignación del tamaño y margen del logo*/
#sidebar-container .logo img{
  width: 85px;
  margin-left: 4rem;
}
#sidebar-container .menu{
  width: 16rem;
}

#sidebar-container .menu a {
  text-decoration: none;
  font-size: 15px;
  color: var(--black);
  display: block;
    padding: 10px;
}

#sidebar-container .menu i {
  margin-right: 15px; /* Ajusta el espacio según tu preferencia */
}

#sidebar-container .menu p {
  color: var(--grey);
  margin-bottom: 0.1rem;/*Cambio y separación de la palabra Manú*/
}

/*transicion de hipervinculos*/
.menu a.active {
  background-color: var(--second); /* Cambia el color según tus preferencias */
}
#sidebar-container .menu a:hover {
  background-color: var(--black); /* Cambia el color según tus preferencias */
  color: var(--white); /* Cambia el color del texto cuando el fondo está oscurecido */
}


.menu a.active:hover {
  background-color: var(--second) !important;
  color: var(--black) !important;
}

#sidebar-container .menu a:hover:not(.active) {
  background-color: var(--black);
  color: var(--white);
}

/*------------MENU DESPLEGABLE-------------*/
.proyectos-text {
  cursor: pointer;
}
#proyectos-options {
  display: none;
}


/*--------------------------------PROYECTOS------------------------------------*/

.content {
  flex: 1;
  padding: 15px;
  margin-left: 16.2rem; /* Ancho del menú, ajusta según tus necesidades */
  margin-right: 0.5rem;
  margin-top: 50px; /* Ajusta según la altura de tu menú */
  display: flex;
  flex-direction: column;
}

.header {
  color:var(--black);
  padding: 5px;
  margin-top: -50px;
}
.header h5 {
  font-size: 18px;
  font-weight: bold;
}
.header button {
  width:14rem;
  right:0;
  float:right;
  margin-right: 80px;
  margin-bottom: 15px;
}
.main-content {
  background-color: var(--white);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: #00000014 0 6px 12px;
  padding: 16px;
  overflow: hidden;
}

.left-container {
  flex: 1;
}

.main-content h5 {
    font-weight: 500;
    font-weight: bold;
    font-size: 24px;
    background-image: linear-gradient(135deg,#A18D57 0%,#DECC8D 13%,#F8E7AA 25%,#DECC8D 38%,#A18D57 50%,#DECC8D 63%,#F8E7AA 75%,#DECC8D 88%,#A18D57 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
}
.main-content .title{
    margin: -16px -16px 20px;
    padding: 10px 16px;
    background-color: var(--black);
}


.button {
  background-image: linear-gradient(135deg,#000,#000 30%,#a18d57 60%,#f8e7aa);
  background-size: 300% auto;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  transition: color .4s, background-image .4s,background-position .4s;
  padding:10px 20px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 14rem;
}

/*colores de botones*/
.button:hover:not(:disabled) {
  background-position: 100%;
  color: #000;}


.main-content .contain {
  width: 15rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: flex-end;  
  position: absolute;
  top: 12rem; /* Ajusta según sea necesario */
  right: 7rem; /* Ajusta según sea necesario */
}

@media (max-width: 768px) {
  .main-content {
    margin-top: 20px; /* Ajusta según sea necesario para evitar la superposición con la tabla */
  }

  .main-content .contain {
    width: 100%;
    position: static; /* Cambia a posición estática para dispositivos más pequeños */
  }

  /* Ajusta el margen inferior de la tabla */
  .main-content .left-container table {
    margin-bottom: 20px; /* Ajusta según sea necesario para evitar superposiciones con el contenido inferior */
  }
}

.main-content .contain button {
  width: 90%; /* O el porcentaje deseado */
  margin-bottom: 30px; /* Añade un margen entre los botones si es necesario */
  padding: 10px 20px;
  text-align: center;
}

.bottom-container {
  width: 100%;
  background-color: var(--white);
  padding: 16px;
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  border-radius: 6px;
  box-shadow: #00000014 0 6px 12px;
  height: fit-content;
  border: 1px solid rgba(0,0,0,.08);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.bottom-container h5{
  font-weight: 500;
    font-size: 24px;
    background-image: linear-gradient(135deg,#A18D57 0%,#DECC8D 13%,#F8E7AA 25%,#DECC8D 38%,#A18D57 50%,#DECC8D 63%,#F8E7AA 75%,#DECC8D 88%,#A18D57 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    font-weight: bold;
}
.bottom-container .title{
  margin: -16px -16px 20px;
  padding: 10px 16px;
  background-color: var(--black);
}

 



/*Estilos de la segunda tabla*/
.bottom-container table {
  font-size: 14px;
}
.bottom-container table tr{
  border-bottom: 3px solid var(--second);
}
.bottom-container table button {
  border: none;
  background-color: var(--white);
  font-size: 18px;
}
.table th {
  color:var(--grey); /* Cambia el color según tus preferencias */
  font-weight: bold;
}


/*Estilos de la primera tabla*/
.main-content .left-container table {
  width: 70%; /* Ajusta el ancho de la tabla según tus necesidades */
  border-collapse: collapse;
  border-spacing: 0 10px;
  font-size: 14px;
}

.main-content .left-container table tr {
    border-bottom: 3px solid var(--second);
}

.main-content .left-container table td {
    padding: 10px;
    text-align: left;
}
.main-content .left-container table td:nth-child(2) {
        text-align: right;
        
    }
    .columna-1 {
        color: var(--black); /* Color para la columna 1 */
        font-weight: bold;
    }
    .columna-2{
      color:var(--grey)
    }
/*----------------------------MODAL--------------------------*/
/*Modal de Nueva Solicitud*/
.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}

.modal-header .title{
  margin: -16px -16px -20px;
  padding: 10px 20px;
  background-color: var(--black);
  width: 120%;
}
.modal-header h5 {
  font-weight: 500;
  font-weight: bold;
  font-size: 24px;
  background-image: linear-gradient(135deg,#A18D57 0%,#DECC8D 13%,#F8E7AA 25%,#DECC8D 38%,#A18D57 50%,#DECC8D 63%,#F8E7AA 75%,#DECC8D 88%,#A18D57 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}
.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: none;
}

#listaArchivos li {
  list-style: none;
  margin-bottom: 5px;
}

#listaArchivos button {
  margin-left: 5px;
}

.modal-content .modal-footer button{
  width: 30%;
  background-image: linear-gradient(135deg,#000,#000 30%,#a18d57 60%,#f8e7aa);
  background-size: 300% auto;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  transition: color .4s, background-image .4s,background-position .4s;
  padding:10px 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.modal-content .modal-footer button:hover:not(:disabled) {
  background-position: 100%;
  color: #000;}



/*---------------------------------------NOTIFICACIONES--------------------------------------*/
.contenedor {
  flex: 1;
  padding: 15px;
  margin-left: 16.2rem; /* Ancho del menú, ajusta según tus necesidades */
  margin-right: 0.5rem;
  width: 80%; /* Establece el ancho del contenedor */
  border-radius: 10px; /* Añade bordes redondeados */
  z-index: 1; /* Asegura que el contenedor esté por encima del menú */
}
.contenedor button{
  font-size: 18px;
  text-decoration: none;
  border: none;
  background-color: var(--white);
}

/* Estilo de la tabla */
.tabla{
  width: 100%; /* Ajusta el ancho de la tabla según tus necesidades */
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0 20px;
}
.main-content .tabla tr {
  border-bottom: 3px solid var(--second);

}
.main-content .tabla th, .tabla td {
  padding: 10px;
  text-align: left;
  
}

.main-content .tabla th {
  background-color: var(--white); /* Fondo gris claro para las celdas del encabezado */
  
}
.main-content .fila1{
  font-weight: bold;
  color:var(--black);
}
